/* -------Base de la page------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
     font-size: 1,4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html{
    font-size: 62,5%;
}

h1{
    color: rgb(151, 194, 194);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(19, 57, 64);
}

.banniere-titre{
    margin-bottom: 1rem;
}
/* ------ Jeu------ */

#btn-cyan{
    background-color: rgb(132, 224, 218);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position :relative;
    animation-name : cyan;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#btn-blue{
    background-color: rgb(156, 156, 214);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position :relative;
    animation-name : bleu;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#replay{
    background-color: azure;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #4e4b4b;
    text-align: center;
    padding: 5px;
    width: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

@keyframes bleu{
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:200px;}
    50%  {left:200px; top:200px;}
    75%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}
@keyframes cyan{
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}


/* ---- Bannière cookies ---- */
.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;/*nécessaire de préciser une width si position:fixed*/
    background-color: grey;
    display: flex;
    justify-content: space-between;/*positionner les DIV enfants*/
    align-items: center;/*centrer verticalement*/
    padding: 3rem;
    opacity: 1; /* modification de cette valeur en Javascript*/
    transition: 0.7s;
}
.cookies-btn{
    display: flex;
}
.btn{
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
.btn.btn-success{
    background-color: #1E2337;
}
.btn.btn-deny{
    background-color: rgb(84, 84, 84);
}